<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/ai-chat.css">
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <div class="chat-log">

    </div>
    <div class="footer">
        <button name="clear-text" class="button-trash">
            <img class="trash" src="../static/images/trash.ico" alt="Кнопка">
        </button>
        <textarea id="user-input" placeholder="Спросите о..." cols="117" class="input-text"></textarea>
        <button class="send-button">Отправить</button>
    </div>
</div>

<script>
    const answer = "{{ answer }}";  // Передаем значение переменной answer из Jinja2 в JavaScript
</script>
<script src="../static/js/ai-chat.js"></script>


</body>
</html>