<header>
    <a href="/"><div class="logo">Dialogia</div></a>
    <nav>
        <ul>
            {% if session.logged_in %}
                <li><a class="login"  href="{{ url_for('profile', username=session['username']) }}">{{ session.username }}</a></li>
                <li><a class="slash">/</a></li>
                <li><a style="margin-right: 15px" href="{{ url_for('logout') }}">Выйти</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                <li><a class="slash">/</a></li>
                <li><a style="margin-right: 15px" href="{{ url_for('register') }}">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="nav-buttons">
        <a class="nav-button" href="/">Главная</a>
        <a class="nav-button" href="#">Реклама</a>
        <a class="nav-button" href="/admin_list">Администрация</a>
        <a class="nav-button" href="/ai-chat">AI Chat</a>
    </div>
</header>
