<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialogia - Форум</title>
    <link rel="stylesheet" href="/static/css/style.css">
     <!-- Подключение шрифта Roboto с Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <!-- Основа страницы, что и для чего -->
</body>
</html>