<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialogia - Форум</title>
    <link rel="stylesheet" href="/static/css/style.css">
     <!-- Подключение шрифта Roboto с Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Логотип типо -->
        <div class="logo">Dialogia</div>
        <!-- меню навигации сверху которое -->
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Администрация</a></li>
                <li><a href="#">войти | зарегистрироваться</a></li>
            </ul>
        </nav>
    </header>
    <!-- Основа страницы, что и для чего -->

    <main>
         <!-- Блок форума -->
        <div class="forum-block">
            <h1>Forum</h1>
            <div class="forum-buttons">
                <a href="#" class="button">Помощь</a>
                <a href="#" class="button">Реклама</a>
                <a href="#" class="button">Идеи предложения</a>
            </div>
        </div>
         <!-- Блок для чата -->
        <div class="Chat-block">
            <h1>Общение</h1>
            <div class="Chat-buttons">
                <a href="#" class="button">Общение на любые темы</a>
                <a href="#" class="button">Открытые темы</a>
                <a href="#" class="button">Создать тему для обсуждения</a>
            </div>

    </main>
</body>
</html>