<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
     <!-- Подключение шрифта Roboto с Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <!-- Основа страницы, что и для чего -->
    <div class="forum-block">
        <h2 class="forum-title">Forum</h2>
        <div class="button-container">
          <button class="forum-button">Помощь</button>
          <button class="forum-button">Реклама</button>
          <button class="forum-button">Идеи предложения</button>

          <div class="Chat-block">
            <h2 class="Chat-title">Обсуждение</h2>
            <div class="Chat-container">
              <button class="Chat-button">Общение на любую тему</button>
              <button class="Chat-button">Открытые темы</button>
              <button class="Chat-button">Создать свою тему для обсуждений</button>
        </div>
      </div>
      
</body>
</html>