<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
{% include 'header.html' %}
    <div class="container">
        <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <h2 style="color: #691169; font-family: sans-serif; font-weight: 300">Dialogia</h2>
            <h2>Вход</h2>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            <div class="input-group">
                <input type="text" id="username" name="login" required>
                <label for="username">Логин</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" required>
                <label for="password">Пароль</label>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>
