<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="container">
        <form class="registration-form" method="POST" action="{{ url_for('register') }}">
            <h2 style="color: #691169;">Dialogia</h2>
            <h2>Регистрация</h2>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
            <div class="input-group">
                <input maxlength="24" minlength="4" name="username" type="text" id="username" required>
                <label for="username">Имя пользователя</label>
            </div>
            <div class="input-group">
                <input name="email" type="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <input minlength="8" name="password" type="password" id="password" required>
                <label for="password">Пароль</label>
            </div>
            <div class="input-group">
                <input minlength="8" name="confirm-password" type="password" id="confirm-password" required>
                <label for="confirm-password">Подтвердите пароль</label>
            </div>
            <div class="input-group">
                <img src="{{ url_for('static', filename='images/captcha.jpg') }}" alt="Капча">
                <a style="" href="{{ url_for('refresh_captcha') }}">Обновить</a>
                <input placeholder="Введите код с картинки" name="captcha" type="text" id="captcha" required>

            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>
